<!DOCTYPE html>
<html lang="fr">
    {% load static %}
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <img src="{% static 'logo.jpg' %}" alt="">
        <h1>Menu des membres</h1>
    </header>

    <main>
        <button>
            <a href="{% url 'bibliothecaire:accueil' %}">Retourner à l'accueil</a>
        </button>
        {% block content %}{% endblock %}
    </main>

    <footer>
        &copy; TRP Devoir CEF - 2025
    </footer>
</body>
</html>