{% extends "base.html" %}
{% block title %}Liste de Livres{% endblock %}
{% block content %}

<h2>CDs</h2>
<table>
    <tr>
        <th>Nom du CD</th>
        <th>Artiste</th>
        <th>Disponible</th>
        <th>Modifier</th>
        <th>Supprimer</th>
    </tr>
    {% for cd in cds %}
    <tr>
        <td>{{ cd.titre }}</td>
        <td>{{ cd.artiste }}</td>
        <td>{{ cd.disponible|yesno:"Oui,Non" }}</td>
        <td>
            <a href="{% url 'bibliothecaire:modifier_media' 'cd' cd.id %}">Modifier</a>
        </td>
        <td>
            <a href="{% url 'bibliothecaire:supprimer_media' 'cd' cd.id %}">Supprimer</a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="5">Aucun CD trouvé</td>
    </tr>
    {% endfor %}
</table>

 {% endblock %}
