{% extends "base.html" %}
{% block title %}Liste de Livres{% endblock %}
{% block content %}

<h2>Livres</h2>
    <table>
        <tr>
            <th>Nom du livre</th>
            <th>Auteur</th>
            <th>Disponible</th>
        </tr>
        {% for livre in livres %}
        <tr>
            <td>{{ livre.titre }}</td>
            <td>{{ livre.auteur }}</td>
            <td>{{ livre.disponible|yesno:"Oui,Non" }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">Aucun livre trouvé</td>
        </tr>
        {% endfor %}
    </table>
 {% endblock %}
