{% extends "base.html" %}
{% block title %}Liste de médias{% endblock %}
{% block content %}
<h1>Liste des médias</h1>

<h2>Livres</h2>
<table>
    <tr>
        <th>Nom du livre</th>
        <th>Auteur</th>
        <th>Disponible</th>
        <th>Modifier</th>
        <th>Supprimer</th>
    </tr>
    {% for livre in livres %}
    <tr>
        <td>{{ livre.titre }}</td>
        <td>{{ livre.auteur }}</td>
        <td>{{ livre.disponible|yesno:"Oui,Non" }}</td>
        <td>
            <a href="{% url 'bibliothecaire:modifier_media' 'livre' livre.id %}">Modifier</a>
        </td>
        <td>
            <a href="{% url 'bibliothecaire:supprimer_media' 'livre' livre.id %}">Supprimer</a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="5">Aucun livre trouvé</td>
    </tr>
    {% endfor %}
</table>

<h2>CDs</h2>
<table>
    <tr>
        <th>Nom du CD</th>
        <th>Artiste</th>
        <th>Disponible</th>
        <th>Modifier</th>
        <th>Supprimer</th>
    </tr>
    {% for cd in cds %}
    <tr>
        <td>{{ cd.titre }}</td>
        <td>{{ cd.artiste }}</td>
        <td>{{ cd.disponible|yesno:"Oui,Non" }}</td>
        <td>
            <a href="{% url 'bibliothecaire:modifier_media' 'cd' cd.id %}">Modifier</a>
        </td>
        <td>
            <a href="{% url 'bibliothecaire:supprimer_media' 'cd' cd.id %}">Supprimer</a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="5">Aucun CD trouvé</td>
    </tr>
    {% endfor %}
</table>

<h2>DVDs</h2>
<table>
    <tr>
        <th>Nom du DVD</th>
        <th>Réalisateur</th>
        <th>Disponible</th>
        <th>Modifier</th>
        <th>Supprimer</th>
    </tr>
    {% for dvd in dvds %}
    <tr>
        <td>{{ dvd.titre }}</td>
        <td>{{ dvd.realisateur }}</td>
        <td>{{ dvd.disponible|yesno:"Oui,Non" }}</td>
        <td>
            <a href="{% url 'bibliothecaire:modifier_media' 'dvd' dvd.id %}">Modifier</a>
        </td>
        <td>
            <a href="{% url 'bibliothecaire:supprimer_media' 'dvd' dvd.id %}">Supprimer</a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="5">Aucun DVD trouvé</td>
    </tr>
    {% endfor %}
</table>

<h2>Jeux de plateau</h2>
<table>
    <tr>
        <th>Nom du jeu de plateau</th>
        <th>Créateur</th>
        <th>Modifier</th>
        <th>Supprimer</th>
    </tr>
    {% for jeu in jeux %}
    <tr>
        <td>{{jeu.titre}}</td>
        <td>{{jeu.createur}}</td>
        <td>
            <a href="{% url 'bibliothecaire:modifier_media' 'jeu' jeu.id %}">Modifier</a>
        </td>
        <td>
            <a href="{% url 'bibliothecaire:supprimer_media' 'jeu' jeu.id %}">Supprimer</a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="4">Aucun jeu de plateau trouvé</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}