{% extends "base.html" %}

{% block title %}Liste des membres{% endblock %}

{% block content %}
<h2>Liste des membres</h2>

<div>
    <a href="{% url 'bibliothecaire:creation_membre' %}">➕ Ajouter un membre</a>
</div>

<table>
    <tr>
        <th>Nom</th>
        <th>Bloqué</th>
        <th>Modifier</th>
        <th>Supprimer</th>
    </tr>

    {% for membre in membres %}
    <tr>
        <td>{{ membre.nom }}</td>
        <td>
            {% if membre.emprunteur and membre.emprunteur.bloque %}
                🚫 Oui
            {% else %}
                ✅ Non
            {% endif %}
        </td>
        <td><a href="{% url 'bibliothecaire:modifier_membre' membre.id %}">Modifier</a></td>
        <td><a href="{% url 'bibliothecaire:supprimer_membre' membre.id %}">Supprimer</a></td>
    </tr>
    {% empty %}
    <tr><td colspan="5">Aucun membre trouvé.</td></tr>
    {% endfor %}
</table>
{% endblock %}
