<!DOCTYPE html>
<html lang="fr">
   {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Connéxion</title>
</head>
<body>
    <h2>Connéxion</h2>
    <form method="post">
        {% csrf_token %}
        <label for="username">Nom d'utilisateur:</label>
        <input type="text" id="username" name="username" />
        <label for="password">Mot de passe:</label>
        <input type="password" id="password" name="password">
        <button type="submit">Se connecter</button>
    </form>

</body>
</html>